#encounters_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 95%;
}

.encounters_title {
    color: #fff;
    font-family: 'Avenir';
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 2rem;
    margin-top: 20px;
}

.encounters_posts {
    background: rgba(255,255,255,0.5);
    width: 90%;
    height: 60%;
    overflow: auto;
    border-radius: 10px;
    
    li {
        padding: 5px;
        border-bottom: 1px dashed gray;
        color: #000;
        font-size: 1rem;
        font-family: 'Avenir';  
    }
    
}

.encounters_report {
    height: 10%;
    color: #fff;
    font-size: 1.3rem;
    font-family: 'Avenir';
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background: rgba(0,0,0,0.8);
    border-radius: 10px;
    min-width: 300px;
    margin-bottom: 20px;
}