<div id="encounters_container">
  
  <div class="encounters_title">
    <h1>Alien Sightings</h1>
  </div>
  
  <div class="encounters_posts">
    <ul>
      <li *ngFor="let encounter of encounters">
        <div>{{ encounter.date }}  
          <span>{{ encounter.colonist_id }}</span>
        </div>
        <p>{{ encounter.atype }}, {{ encounter.action }}</p>
      </li>
    </ul>
  </div>
  
  <button (click)="clicked()" class="encounters_report">
    <h1>Report a new Alien</h1>
  </button>
  
</div>