  <div id="home_container"> 
    
    <div class="home_welcome">
      <h1 class="home_title">Welcome to Mars</h1>
    </div>
    
    <div class="home_notifications">
      <div class="notification_top">
        <p class="notification_font">Weather: -60c and Sunny</p>
      </div>
      <div class="notification">
        <p class="notification_font">Stocks: dust ( +4.3% ), soylent ( -86.4% )</p>
      </div>
      <div class="notification_bottom">
        <p class="notification_font">Messages: No new messages</p>
      </div>
    </div>
    
    <div>
      
    </div>
    
    <div class="register">
      <h2 class="home_register">Tap to Login</h2>
    </div>
   
  </div>
    
    


