@import './shared/_partials/_reset.scss';
@import './shared/_partials/_fonts.scss';
@import './+home/home.component.scss';


#wrapper {
    background: -webkit-linear-gradient(to left, #517fa4 , #243949); 
    background: linear-gradient(to left, #517fa4 , #243949); 
    height: 100vh;
    widows: 100vw;
    padding: 0px;
    margin: 0px;
}

.loading {
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    font-family: 'Avenir';
    color: #000;
    width: 120px;
}


