#blog_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.blog_title{
    height: 7%;
    margin-bottom: 10px;

    h1 {
      color: #fff;
      font-family: 'Avenir';
      text-transform: uppercase;
      font-weight: lighter;
      font-size: 2rem;
      text-align: center;
    }
}

.blog_content {
    height: 60%;
    width: 60%;
    min-width: 300px;
}

.blog_post {
    margin-bottom: 25px;
}

.story_title {
    color: #fff;
    font-family: 'Avenir';
}

.story_body {
    color: #fff;
    font-family: 'Avenir';
    margin-top: 7px;
    font-size: 0.8rem;
}

.blog_button{
    height: 10%;
    color: #fff;
    font-size: 1.3rem;
    font-family: 'Avenir';
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background: rgba(0,0,0,0.8);
    border-radius: 10px;
    min-width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
}
